# Study CEO Dataset

Load libraries:

In [1]:
import pandas as pd
import pprint
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import logging
from unidecode import unidecode

pp = pprint.PrettyPrinter(indent=2)

logging.basicConfig(
    level=logging.INFO,
    format="%(asctime)s - %(levelname)s - %(message)s",
    datefmt="%Y-%m-%d %H:%M:%S",
)

Load the dataset:

In [15]:
df = pd.read_csv(
    "../../data/raw/Microdades_barometre/Microdades anonimitzades -992.csv",
    delimiter=";",
)
df_original = df.copy()

## Dataset Structure

Visualize the structure of the dataset:

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Columns: 130 entries, PONDERA to P16R
dtypes: int64(11), object(119)
memory usage: 1.1+ MB

In [17]:
df.describe()

,PONDERA,ORDRE_REVISADA,ANY,MES,DURADA,ENQUESTADOR_CODI,ENQUESTADOR_EDAT,EDAT,CIRCUIT_992_1,P31,P37
count,1100.0,1100.000000,1100.0,1100.0,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000
mean,1.0,550.500000,2021.0,1.0,838.717273,564.737273,44.432727,51.083636,1.503636,1.626364,3.548182
std,0.0,317.686953,0.0,0.0,205.243172,289.099284,9.348282,17.141182,0.500214,5.225004,8.750325
min,1.0,1.000000,2021.0,1.0,482.000000,18.000000,23.000000,18.000000,1.000000,0.000000,1.000000
25%,1.0,275.750000,2021.0,1.0,706.000000,237.000000,39.000000,38.000000,1.000000,0.000000,2.000000
50%,1.0,550.500000,2021.0,1.0,794.000000,659.000000,43.000000,51.000000,2.000000,1.500000,3.000000
75%,1.0,825.250000,2021.0,1.0,926.000000,828.000000,53.000000,65.000000,2.000000,2.000000,4.000000
max,1.0,1100.000000,2021.0,1.0,2491.000000,877.000000,63.000000,98.000000,2.000000,99.000000,99.000000

In [25]:
columns = pd.DataFrame(df.columns, columns=["columns"])

In [27]:
len(df["ENQUESTADOR_CODI"].unique())

30

In [26]:
# print column names
df[["ANY", "MES", "EDAT", "P15"]]

       ANY  MES  EDAT                      P15   P15_LITERALS
0     2021    1    61                      CUP              -
1     2021    1    62                No ho sap              -
2     2021    1    58                      PSC              -
3     2021    1    83      Junts per Catalunya              -
4     2021    1    25            En Comú Podem  en comu podem
...    ...  ...   ...                      ...            ...
1095  2021    1    34                      PPC              -
1096  2021    1    32                  Podemos        podemos
1097  2021    1    27  Catalunya en Comú Podem              -
1098  2021    1    31                      PSC              -
1099  2021    1    23                No ho sap              -

[1100 rows x 5 columns]